{% extends "base_perfil.html" %}
{% block content %}
   {%for p in listapersonaje:%}
<div class="card" style="width: 18rem;">

  <img src="{{p.image}}" alt="Girl in a jacket" width="200" height="200">
  <div class="card-body">
    <h5 class="card-title">{{p.name}}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="{{ url_for('bp_personaje.index')}}" class="btn btn-primary">Atras</a>
        nombre espisodio:{{p.url_episodio}}

  </div>
</div>
 {%endfor%}

{% endblock %}